# Ignore personal financial data files
app/data/*

# Ignore password data
app/config/config.ini

# Ignore virtual environment
venv/

# Ignore Streamlit temporary files
.streamlit/

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
